.catalog {
	padding-top: 15px;
	padding-bottom: 477px;
	background: url("../img/catalog-map.png") top center no-repeat, url("../img/catalog-back.jpg") bottom center no-repeat;
}

.catalog__heading {
	@include h2-font;
}

.catalog__content {
	display: flex;
	justify-content: space-between;
	margin-top: 88px;
}

.catalog__item-link {
	text-decoration: none;
}

.catalog__item {
	box-sizing: border-box;
	width: 200px;
	padding-top: 15px;

	&--1 {
		background: url("../img/catalog-item-1.png");
	}

	&--2 {
		background: url("../img/catalog-item-2.png");
	}

	&--3 {
		background: url("../img/catalog-item-3.png");
	}

	&--4 {
		background: url("../img/catalog-item-4.png");
	}

	&--5 {
		background: url("../img/catalog-item-5.png");
	}
}

.catalog__item-rating {
	margin-left: 10px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: left;

	&--1 {
		background-image: url("../img/catalog-4-stars.png");	
	}

	&--2 {
		background-image: url("../img/catalog-5-stars.png");	
	}

	&--3 {
		background-image: url("../img/catalog-5-stars.png");	
	}

	&--4 {
		background-image: url("../img/catalog-5-stars.png");	
	}

	&--5 {
		background-image: url("../img/catalog-3-stars.png");	
	}
}

.catalog__item-heading {
	margin-top: 104px;
	margin-bottom: 0;
	font-size: 28px;
	line-height: 58px;
	color: #ffffff;
	font-weight: 400;
	margin-left: 20px;
}

.catalog__item-description {
	margin-top: 0;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	margin-left: 20px;
	margin-bottom: 82px;
}

.catalog__item-price {
	height: 62px;
	padding-right: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog__item-old-price {
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	text-decoration: line-through;
	margin-left: 20px;
}

.catalog__item-new-price {
	font-size: 26px;
	font-weight: 800;
	color: #ffffff;
}